<a href="https://colab.research.google.com/github/AkashCreator/Pyspark/blob/main/Challenge_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=87d68f16ec2217b39c001f853a66a977f86f97a3fddfb49e85648a1b18203a03
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [3]:
#create the spark session and fetch data
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark=SparkSession.builder.enableHiveSupport().appName('MyChallenge').getOrCreate()
spark

In [8]:
ip_data1=spark.read.csv('./sample_data/challenge.csv',header=True,inferSchema=True)
ip_data1.show()

+---------------+--------------+-----------------+----------+
|     ip_address|       Country|      Domain Name|Bytes_used|
+---------------+--------------+-----------------+----------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|
| 119.239.207.13|         China|         youtu.be|        51|
|  68.69.217.210|         China|        adobe.com|        10|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|
|   211.13.10.68|     Indonesia|          hud.gov|        29|
|   239.80.21.97|      Suriname|       smh.com.au|       218|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|
| 127.242.24.138|         China| surveymonkey.com|       123|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|
|   237.54.11.63|         China|       amazon.com|        83|
| 252.141.157.25|         Japan|      cornell.edu|       374|
|185.220.128.248|       Belgium|       weebly.com|       389|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|
|   8.96.188.151|     Indonesia|          ibm.com|       517|
|      5.72.7.65|        Mexico|         youtu.be|       877|
|227.110.112.144|       Croatia|         ehow.com|       287|
|    81.71.28.97|      Thailand|          last.fm|       588|
|  9.255.129.184|      Thailand|          mtv.com|       114|
+---------------+--------------+-----------------+----------+
only showing top 20 rows

In [9]:
#list whether country is Mexico or not
ip_data1=ip_data1.withColumn('IsMexico',when(ip_data1.Country=='Mexico','Yes').otherwise('No'))
ip_data1.show()

+---------------+--------------+-----------------+----------+--------+
|     ip_address|       Country|      Domain Name|Bytes_used|IsMexico|
+---------------+--------------+-----------------+----------+--------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|      No|
| 119.239.207.13|         China|         youtu.be|        51|      No|
|  68.69.217.210|         China|        adobe.com|        10|      No|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|      No|
|   211.13.10.68|     Indonesia|          hud.gov|        29|      No|
|   239.80.21.97|      Suriname|       smh.com.au|       218|      No|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|      No|
| 127.242.24.138|         China| surveymonkey.com|       123|      No|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|      No|
|   237.54.11.63|         China|       amazon.com|        83|      No|
| 252.141.157.25|         Japan|      cornell.edu|       374|      No|
|185.220.128.248|       Belgium|       weebly.com|       389|      No|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|      No|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|      No|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|      No|
|   8.96.188.151|     Indonesia|          ibm.com|       517|      No|
|      5.72.7.65|        Mexico|         youtu.be|       877|     Yes|
|227.110.112.144|       Croatia|         ehow.com|       287|      No|
|    81.71.28.97|      Thailand|          last.fm|       588|      No|
|  9.255.129.184|      Thailand|          mtv.com|       114|      No|
+---------------+--------------+-----------------+----------+--------+
only showing top 20 rows

In [11]:
ip_data1.write.csv('mexico1.csv',header=True)

In [13]:
ip_data1.write.json('mexico.json')

In [19]:
ip_data1.groupBy('IsMexico').sum('Bytes_used').withColumnRenamed('sum(Bytes_used)','Total_bytes').show()

+--------+-----------+
|IsMexico|Total_bytes|
+--------+-----------+
|      No|     508076|
|     Yes|       6293|
+--------+-----------+

In [44]:
import pyspark.sql.functions as sqlfunc
ip_data2=ip_data1.groupBy('Country').agg(sqlfunc.countDistinct('ip_address').alias('Count_distinct_ip')).orderBy('Count_distinct_ip',ascending=False)

In [45]:
ip_data2.show()

+--------------+-----------------+
|       Country|Count_distinct_ip|
+--------------+-----------------+
|         China|              172|
|     Indonesia|              114|
|   Philippines|               65|
|        Russia|               56|
|        Brazil|               35|
|        Poland|               31|
|        Sweden|               28|
|         Japan|               25|
|Czech Republic|               23|
|      Portugal|               23|
|        France|               21|
|          Peru|               19|
|      Colombia|               17|
| United States|               15|
|     Argentina|               14|
|       Ukraine|               14|
|        Mexico|               13|
|      Thailand|               12|
|       Nigeria|               11|
|        Canada|               11|
+--------------+-----------------+
only showing top 20 rows